.listTile{
    min-width: 300px;
    flex-grow: 1;
}

.listTile img{
    height: 400px;
}

.toolbar{
    justify-content: space-between;
}

.navLeftSide{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navRightSide{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navRightSide div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.link{
    text-decoration: none;
    color: white;
    text-underline: none;
}

.favorite_header{
    margin-left: 10px;
    margin-top: 3rem;
}

.avatarImage{
    height: 2rem;
    border-radius: 50%;
}

@media only screen and (max-width: 600px) {
    .navRightSide{
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    .menuIcon{
        display: none;
    }
}
