.listTile{
    min-width: 300px;
    flex-grow: 1;
}

.listTile img{
    height: 400px;
}

.toolbar{
    justify-content: space-between;
}

.navLeftSide{
    display: flex;
    align-items: center;
}

.link{
    text-decoration: none;
    color: white;
    text-underline: none;
}

.favorite_header{
    margin-left: 10px;
    margin-top: 3rem;
}